.host-header{
    width:100%;
    min-height: fit-content;
    height: 5%;
    color: var(--colour-black2);
    font-weight: 500;
    background-color: var(--primary-colour);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 0.3rem black);
    z-index: 10;
}
.host-body{
    max-width: 100%;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.host-left{
    min-width: 300px;
    width: 300px;
    height: 100%;
    color: var(--font-colour);
    filter: drop-shadow(0 0 0.3rem black);
    background-color: var(--colour-black);
    z-index: 9;
}
.host-middle{
    width: 100%;
    color: var(--font-colour);
    height: 100%;
    position: relative;
}
.middle-wrapper{
    height: 70%;
    width: 100%;
}
.host-stream-wrapper{
    width: 100%;
    height: 100%;
}
.judge-section{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.host-right{
    min-width: 300px;
    width: 300px;
    height: 100%;
    color: var(--font-colour);
    filter: drop-shadow(0 0 0.3rem black);
    background-color: var(--colour-black);
    z-index: 9;
}
.host-camera{
    position: absolute;
    bottom: 50px;
    left: 20px;
    z-index: 100;
    width: 150px;
}
.judge-section-container{
    width: 90%;
    height: 90%;
    background-color: var(--colour-black2);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;

}
