:root {
  --colour-black:#15191D;
  --colour-black2:#25292D;
  --colour-red:#CF4F4F;
  --colour-yellow:#FED65D;
  --colour-grey:#6D746E;
  --colour-white: #F5F5F5;
  --colour-green: #61F2A2;

  --nav-bg:var(--colour-black2);
  --nav-height: 80px;
  --font-colour: var(--colour-white);
  --bg-colour:var(--colour-black);
  --primary-colour: var(--colour-yellow);
  --secondary-colour: var(--colour-red);
  --section-height: calc(100vh - var(--nav-height));
  --border-radius: 5px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height:10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colour-white);
  border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-colour); 
}