.general-chat {
    position: relative;
    width: 300px;
    height: 100%;
    max-height:var(--section-height) ;
    color: white;
    /* border-left: 1px var(--colour-grey) solid; */
    filter:drop-shadow(0 0 0.1rem black);   
    overflow-y: hidden;
    background-color: var(--bg-colour);
    z-index: 999999 !important;
}
.chat-toolbar-container{
    height: 40px;
    padding: 3px;
    min-height: fit-content;
    width: 100%;
    background-color: var(--colour-black2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 18px;
    position: relative;
}
.chat-toolbar-buttons{
    margin-right: 5px;
    width: 28px;
    height: 28px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--colour-black2);
    z-index: 1;
}
.chat-toolbar-buttons:hover{
    filter: brightness(150%);
    cursor: pointer;
}
.collapse-chat-button{
    position: absolute;
    left: 0;
    margin-left: 5px;
}
.open-chat-button{
    position: absolute;
    transform: translateX(-100%);
    margin-top: 48vh;
    width: 25px;
    min-height: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    z-index: 1;

    background-color:transparent;
    transition: 200ms;
    opacity: 60%;
    color: var(--colour-white);
}
.open-chat-button:hover{
    background-color: var(--colour-black2);
    filter: brightness(150%);
    cursor: pointer;
    opacity: 100%;
}
.chat-label{
    position: absolute;
    margin: auto;
    font-size: 15px;
    text-align: center;
    width: 100%;
    z-index: 0;
    font-weight: 600;
    color: var(--colour-white);
}
.pinned-message-container{
    position: relative;
    width: 290px;
    padding: 5px;
    height: 5%;
    z-index: 10;
}
.pinned-message-box{
    position: absolute;
    padding: 5px;
    font-size: 15px;
    width: 100%;
    height: fit-content;
    background-color: var(--colour-black2);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.collapse-pin-message{
    position: absolute;
    right: 10px;
    top: 6px;
    background-color: var(--colour-black2);
    border-radius: var(--border-radius);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.collapse-pin-message:hover{
    filter: brightness(150%);
    cursor: pointer;
}
.edit-pin-message{
    position: absolute;
    right: 35px;
    top: 6px;
    background-color: var(--colour-black2);
    border-radius: var(--border-radius);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-pin-message:hover{
    filter: brightness(150%);
    cursor: pointer;
}
.pinned-message-header{
    color: var(--primary-colour);
    width: 100%;
    height: fit-content;
}
.pinned-message-header i{
    margin-right: 5px;
}
.pinned-message-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 100%;
    width: 280px;
    padding: 5px;
    margin: 3px 0;
}
.pinned-message-body:focus{
    outline: var(--primary-colour) 1px solid;
}
.messages-scroll{
    max-height: 80%;
    height: 80%;
    overflow-y: auto;
    width: 100%;
    padding: 0 15px;
    background-color: var(--bg-colour);
}
.messages-container{
    height: fit-content;
    width: 100%;
    background-color: var(--bg-colour);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.message-box-container{
    width: 100%;
    min-height: fit-content;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-box-form{
    border-radius: var(--border-radius);

    /* border: yellow 1px solid; */
    width: 270px;
    min-height: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
}
.message-input{
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width:80%;
    height:100%;
    background-color: var(--colour-black2);
    transition: 200ms;
    border: 2px solid transparent;
    color: var(--font-colour);
    padding: 0 10px;
}
.message-input:hover{
    border: var(--colour-grey) 2px solid;
}
.message-input:focus{
    border: var(--primary-colour) 2px solid;
    background-color: var(--bg-colour);
    outline:none;
}

.send-button{
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--primary-colour);
    border: none;
    min-width: 65px;
    width: 20%;
    height:100%;
    transition: 200ms;
}
.send-button:hover{
    filter: brightness(110%);
}

@media only screen and (max-device-width: 480px){
    .general-chat {
        margin-right: 0;
    }
    .open-chat-button{
        transform: translateX(-100%);
    }
}