.general-chat {
    position: relative;
    width: 100%;
    height: 100%;
    max-height:var(--section-height) ;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--bg-colour);

}
.pinned-message-container{
    position: absolute;
    width: 100%;
    padding: 10px;
    height: 15%;
    z-index: 10;

}
.pinned-message-box{
    padding: 5px;
    font-size: 15px;
    width: 100%;
    height: 100%;
    background-color: var(--colour-black2);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pinned-message-header{
    color: var(--primary-colour);
    width: 100%;
    height: fit-content;
}
.pinned-message-header i{
    margin-right: 5px;
}
.pinned-message-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.messages-container{
    height: 89%;
    max-height: 89%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding: 15px;
    background-color: var(--bg-colour);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.chat-toolbar-container{
    height: 3%;
    width: 100%;
    background-color: var(--colour-black2);
}
.message-box-container{
    width: 100%;
    min-height: fit-content;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: purple 1px solid; */
    overflow: hidden;

}

.message-box-form{
    border-radius: var(--border-radius);

    /* border: yellow 1px solid; */
    width: 270px;
    min-height: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
}
.message-input{
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width:80%;
    height:100%;
    background-color: var(--colour-black2);
    transition: 200ms;
    border: 2px solid transparent;
    color: var(--font-colour);
    padding: 0 10px;
}
.message-input:hover{
    border: var(--colour-grey) 2px solid;
}
.message-input:focus{
    border: var(--primary-colour) 2px solid;
    background-color: var(--bg-colour);
    outline:0;
}

.send-button{
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--primary-colour);
    border: none;
    min-width: 65px;
    width: 20%;
    height:100%;
    transition: 200ms;
}
.send-button:hover{
    filter: brightness(110%);
}