.slides{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font);
    height: 100%;
    /* border: 5px blue solid; */
}
.slide{
    width: 100%;
    padding-top: 56.25%;
    /* border: 1px white solid; */
    background-color: var(--secondary-colour);
    position: relative;
}
.slide-bg{
    position: absolute;
    top:0;
    left:0;
    background-color: var(--colour-white);
    width: 100%;
    height: 100%;
    clip-path: polygon(75% 0, 100% 25%, 100% 100%, 25% 100%, 0 75%, 0 0);
}
.slide-bg-title {
    position: absolute;
    top:0;
    left:0;
    background-color: var(--colour-white);
    width: 100%;
    height: 100%;
}
.middle-title{
    clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0% 100%);
}
.normal-title{
    clip-path: polygon(0 24%, 100% 24%, 100% 100%, 0% 100%);
}
.question-slide{
    position: relative;
}
.slide-number{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 10%;
    max-height: 10%;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    /* border: black 1px solid; */
    text-align: center;
    font-style: italic;
}
.question-round-number{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 5%;
    max-height: 5%;
    width: 20%;
    /* border: black 1px solid; */
    text-align: left;
    top:5%;
    left:2%;
    color: var(--colour-grey);
    font-style: italic;
}
.slide-text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 15%;
    max-height: 15%;
    width: 90%;
    left: 50%;
    /* border: black 1px solid; */
    text-align: center;
}
.above{
    transform: translateX(-50%);
    top: 5%;
}
.top{
    transform: translateX(-50%);
    top: 20%;
}
.center{
    top: 50%;
    transform: translate(-50%,-50%);
}

.slide-img{
    position: absolute;
    height: 50%;
    width: 50%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    /* border: black 1px solid; */
}
.slide-img img{
    /* border: black 3px solid;
    border-radius: 10px ; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.title-header{
    position: absolute;
    height: 15%;
    max-height: 15%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    /* border: black 1px solid; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-img{
    position: absolute;
    height: 70%;
    width: 70%;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    /* border: black 1px solid; */
}
.title-img img{
    /* border: black 3px solid;
    border-radius: 10px ; */
    width: 100%;
    height: 100%;
    object-fit: contain;

}.slide-title{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: red 1px solid; */
    width:100%;
    height: 100%;
    max-height: 60%;
    font-weight: bold;
}
.title-family{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: red 1px solid; */
    white-space: nowrap;
    width:100%;
    max-height:40%;
    height: 100%;
    color: var(--colour-white);

}
.answer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 250%;
    max-height: 25%;
    width: 100%;
    padding: 0 10%;
    left: 50%;
    /* border: black 3px solid; */
    text-align: center;
    background-color: lightgrey;
    font-weight: bold;
    box-shadow: 0 4px 5px;
}
.timer-container{
    top:4%;
    right:0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    /* border: red 1px solid; */
    white-space: nowrap;
    width:15%;
    max-height:8%;
    height: 100%;
    color: var(--colour-white);
    background-color: var(--primary-colour);
    border-bottom-left-radius: var(--border-radius) ;
    border-top-left-radius: var(--border-radius) ;
    box-shadow: var(--colour-black2) 3px 3px 3px;
}
.timer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    margin-right:50%;
    width:100%;
    height:80%;
    /* border: 1px blue solid; */
    color: var(--colour-black2);
    font-weight: bold;
}
.slide-resize-me{
    height: fit-content;
}

.width--20per{
    width:20%;
}
.width--50per{
    width:50%;
}
.width--80per{
    width:80%;
}
.width--100per{
    width:100%;
}
.width--200{
    width:200px;
}
.width--400{
    width:400px;
}
.width--800{
    width:800px;

}
.quiz-start-button{
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 10px;
}




