.main-lobby{
    top:0;
    height: var(--section-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}
.main-header{
    width:100%;
    min-height: fit-content;
    height: 20%;
    color: var(--font-colour);
    
}
.quiz-title{
    width: 100%;
    background-color: var(--primary-colour);
    font-size: min(5vw,30px);
    font-weight: 500;
    color: var(--colour-black2);
    padding: 10px;
}
.instructions{
    height: fit-content;
    font-size: min(16px,3vw);
    padding: 0 10px;
}
.main-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height: 100%;
}
.lobby-body{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
    background-color: var(--colour-black2);
}
.lobby-grid{
    display: grid;
    width:90%;
    height: 100%;
    /* border: white 1px solid; */
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    /* grid-auto-rows: auto; */
    z-index: 1;
}
.open-slides-button{
    position: absolute;
    top: 50%;
    right: 5px;
    color: var(--colour-white);
}
.slide-window{
    min-width: 800px;
    width:100%;
    max-width: 1100px;
    max-height: 100%;
    /* border: 1px white solid; */
}
.slide-page{
    width:100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: var(--colour-black2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}

.main-chat{
    width: fit-content;
    height: 100%;
    z-index: 500;
    position: absolute;
    right: 0;
}
