.main-lobby{
    top:0;
    height: var(--section-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    
}
.main-header{
    width:100%;
    min-height: fit-content;
    height: 20%;
    color: var(--font-colour);
    
}
.quiz-title{
    width: 100%;
    background-color: var(--primary-colour);
    font-size: min(5vw,30px);
    font-weight: 500;
    color: var(--colour-black2);
    padding: 10px;
}
.instructions{
    height: fit-content;
    font-size: min(16px,3vw);
    padding: 0 10px;
}
.main-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height: 100%;
}
.lobby-body{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
    background-color: var(--colour-black2);
}
.lobby-grid{
    display: grid;
    width:90%;
    height: 100%;
    /* border: white 1px solid; */
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    /* grid-auto-rows: auto; */
    z-index: 1;
}
.open-slides-button{
    position: absolute;
    top: 50%;
    right: 5px;
    color: var(--colour-white);
}
.slide-window{
    min-width: 800px;
    width:100%;
    max-width: 1100px;
    max-height: 100%;
    height: fit-content;
    /* border: 1px white solid; */
}
.slide-page{
    width:100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: var(--colour-black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}
.host-camera{
    position: absolute;
    bottom: 50px;
    left: 50px;
    border: 5px white solid;
}
.main-chat{
    width: fit-content;
    height: 100%;
    z-index: 500;
    position: absolute;
    right: 0;
}
.host-lobby-toolbar{
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
}

/* LOBBY GRID ELEMENT */

.lobby-grid-element{
    position: relative;
    width:100%;
    height: 100%;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--colour-black);
    color: var(--font-colour);
    border:2px solid transparent;
    transition: 300ms;
}
.lobby-grid-element:hover{
    cursor: pointer;
}
.lobby-grid-index{
    position: absolute;
    bottom: 0;
    font-size: min(13px,2vw);
    opacity: 30%;
}
.lobby-grid-element:hover{
    border:2px solid var(--primary-colour);
    
}
.team-name{
    font-size: min(16px,2vw);
}
.players-in-lobby{
    font-size: min(16px,2vw);
}
.players-list{
    width:100%;
    height: 100%;
    position: absolute;
    background-color: var(--primary-colour);
    order:2px solid var(--primary-colour);
    z-index: -1;
    opacity: 0;
    border-radius: 2px;
    transition: 300ms;
    color: black;
}
.lobby-grid-element:hover > .players-list{
    z-index: 1;
    /* transform: translateY(95%); */
    transition-delay: 500ms;
    opacity: 1;
}
