.main-lobby{
    height: var(--section-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 10px;
    border-bottom: 3px var(--colour-grey) solid;
    position: relative;
}
.main-header{
    width:100%;
    min-height: fit-content;
    height: 20%;
    color: var(--font-colour);
    
}
.quiz-title{
    width: 100%;
    background-color: var(--primary-colour);
    font-size: min(5vw,30px);
    font-weight: 500;
    color: var(--colour-black2);
    padding: 10px;
}
.instructions{
    height: fit-content;
    font-size: min(16px,3vw);
    padding: 0 10px;
}
.main-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height: 100%;
}
.lobby-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
    background-color: var(--colour-black2);
}
.lobby-grid{
    display: grid;
    width:90%;
    height: 100%;
    /* border: white 1px solid; */
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    /* grid-auto-rows: auto; */
    z-index: 1;
    
}
.main-chat{
    width: fit-content;
    height: 100%;
    border-left: 1px var(--colour-grey) solid;
    z-index: 500;
}

@media screen and (max-width:800px){
    .main-body{
        min-width:100%;
    }
    .main-chat{
        position: absolute;
        right: 0;
        z-index: 500;
    }
}