.profile-quizzes{
    min-height: 200px;
    height: fit-content;
    width: 100%;
    padding: 0 10px;
    border-radius: var(--border-radius);
    background-color: var(--colour-black2);
    color: var(--font-colour);
}
.profile-quizzes-header{
    padding: 10px 20px;
    width: 100%;
    height: fit-content;
    font-weight: bold;
    text-align: left;
    font-size: min(20px,3vw) ;
    background-color: var(--nav-bg);
    color: var(--primary-colour);
}
.quizzes{
    display: flex;
    flex-direction: column;
}
.quiz-item-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100px;
    padding:10px;
    position: relative;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    background-color: var(--colour-black);
    border: 1px transparent solid;
    transition: 200ms;
}
.quiz-item-container:hover{
    border: 1px var(--primary-colour) solid;
}
.quiz-item-buttons{
    position: absolute;
    right: 10px;
}
.quiz-item-labels{
    position: absolute;
    left:10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    /* border:1px white solid; */
}
.quiz-item-title{
    color: var(--font-colour);
    font-weight: 500;
    font-size: min(22px,3vw);
}
.quiz-item-type{
    margin-right: 10px;
    color: var(--primary-colour);
    text-transform: capitalize;
    font-size: min(16px,1.5vw);
}
.quiz-item-buttons i{
    margin-right: 5px;
}
.edit-quiz-button{
    background-color: var(--colour-black);
    color: var(--font-colour);
    outline: none;
    border: transparent;
    transition: 200ms;
    border-radius: var(--border-radius);
    padding: 5px 10px;
}
.edit-quiz-button:hover{
    background-color: var(--colour-black2);
}
.publish-quiz-button{
    padding: 5px 10px;
    margin: 5px;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px transparent solid;
    background-color: var(--primary-colour);
    transition: 200ms;
    font-weight: 500;
}
.publish-quiz-button:hover{
    padding: 5px 10px;
    margin: 5px;
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--colour-white);
    transform: scale(1.02);
}
