html {
    scroll-behavior: smooth;
  }

/* CreateQuiz Section */

.create-section{
    min-height:max-content;
    background-color: var(--bg-colour);
    display: flex;
    align-items: center;
    color:var(--font-colour);
    padding: 20px;
}
.left-create{
    padding: 0 20px;
    height: 100%;
    width: 50%;
    /* border: 1px white solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left-private{
    height: 100%;
    width: 50%;
    /* border: 1px white solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right-create{
    height:100%;
    width:50%;
    /* border: 1px white solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-private{
    height:100%;
    width:50%;
    /* border: 1px white solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-text{
    padding: 10px;
}
.btns-container{
    height: max-content;
    /* border:red 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-imgs{
    max-width:100%;
    max-height:100%;
}

/* JoinQuiz Section */
.private-section{
    min-height:max-content;
    z-index: -1;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    background-color: var(--colour-black2);
    color:var(--font-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0 5% 0;
}
#joinquiz{
    scroll-margin-top: var(--nav-height);
}
.join-container{
    /* border: blue 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-input{
    min-width: 300px;
    min-height: 50px;
    border-radius: var(--border-radius);
    border: 3px var(--colour-white) solid;
    padding: 5 20px;
    font-size: 20px;
    text-align: center;
}
.join-input:focus{
    border-radius: var(--border-radius);
    transition: 200ms;
    border: 5px var(--colour-green) solid;
    transform: scale(1.02) perspective(1px)
}



/* Donation Section */
.donate-section{
    padding:50px;
    height: min-content;
    background-color: var(--colour-black2);
    color:var(--font-colour);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px white solid; */
}
#donate{
    scroll-margin-top: var(--nav-height);
}
.donate-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height:500px;
    width:700px;
    /* border: 1px white solid; */
}
.donate-text{
    text-align: center;
    width:100%;
}
.donate-text span{
    color: var(--primary-colour);
    font-size: 26px;
}

@media screen and (max-width: 700px){
    .right-create {
        visibility: hidden;
        width:0%;
    }
    .left-create{
        width: 100%;
    }
    .left-private{
        visibility: hidden;
        width:0%;
    }
    .right-private{
        width: 100%;
    }
    .donate-img-container{
        visibility: hidden;
        height: 0px;
    }
}