.quiz-section{
    padding-top: 20px;
    min-height:max-content;
    background-image: url('../../assets/images/public_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 200vw;
    color:var(--font-colour);
    overflow-y: hidden;
}
.search-container{
    min-width:max-content;
    margin:20px;
    padding: 20px;
    background-color: var(--colour-black2);
    border-radius: var(--border-radius);
}
.quiz-table-container{
    width:1500px;
    margin:20px;
    padding: 20px;
    background-color: var(--colour-black2);
    border-radius: var(--border-radius);
}
.scroll-table{
    overflow-x: auto;
}
.animate-table{
    transition: max-height 0.15s ease;
}
.search-bar-container{
    /* border: 1px white solid; */
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.search-bar{
    min-width:50%;
    height:max-content;
    padding: 0 20px;
    /* border: 1px white solid; */
}
.search-bar input{
    padding:5px;
    border: 5px var(--colour-white) solid;
    background-color: var(--colour-white);
    width:100%;
    border-radius: var(--border-radius);
}
.search-bar input:hover{
    transition: 200ms;
    transform: scale(1.02) perspective(1px)
}
.search-bar input:focus{
    transition: 200ms;
    border: 5px var(--colour-blue) solid;
    transform: scale(1.02) perspective(1px)
}
.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.checkbox-item{
    margin: 5px;
    padding: 5px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: var(--colour-white)  1px solid;
}
.checkbox-item input{
    opacity:0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}
.custom-checkbox{
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: var(--colour-grey);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.custom-checkbox:hover{
    background-color: var(--colour-white);
    transition: 200ms;
    transform: scale(1.1) perspective(1px)
}
.custom-checkbox input:checked{
    opacity:100;
}
.end{
    border-right: 0;
}
.headers-row{
    min-width: fit-content;
    /* border: white 1px solid; */
    display: flex;
}
.quiztitle{
    min-width:20%;
}
.category{
    min-width:15%;
}
.type{
    min-width:10%;
}
.family{
    min-width:20%;
}
.starttime{
    min-width:10%;
}
.spaces{
    min-width:5%;
}
.host{
    min-width:10%;
}
.hostrating{
    min-width:10%;
}
.cell{
    border-right: var(--colour-white)  1px solid;
    padding:5px;
    max-width: fit-content;
    display: inline-block;
    overflow:auto;
}
.header{
    font-weight: bold;
    font-size: 1.2rem;
}
.end-cell{
    border-right:0;
}
.table-content{
    position: relative;
}
.body-rows{
    overflow: visible;
    max-height: max-content;
}


@media screen and (max-width: 750px){
    .checkbox-container{
        flex-direction: column;
    }
    .search-bar-container{
        flex-direction: column;
    }
    .search-bar{
        min-width:80%;
    }
    .checkbox-item{
        border-top: var(--colour-white)  1px solid;
        border-right:0;
    }
    .end{
        border-bottom: var(--colour-white)  1px solid;
    }
}