.quiz-row{
    background-color: var(--colour-grey);
    border-radius: var(--border-radius);
    margin-top: 10px;
    width:100%;
    display: flex;
    /* border: red 1px solid; */
}
.hide-me{
    visibility: hidden;
}