.attributes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: solid 1px blue; */
}
.attributes label {
    margin-bottom: 30px;
}
.quiz-title-container{
  padding: 10px;
  width:100%;
}
.quiz-title-label{
  margin-right: 10px;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}
.quiz-title-container input{
  border: 3px var(--colour-white) solid;
  background-color: var(--colour-white);
  min-width:300px;
  width: 50%;
  font-size: 18px;
  border-radius: var(--border-radius);
  transition: 200ms;
  text-align: center;
}
.quiz-title-container input:hover{
  border: 3px var(--colour-grey) solid;
}
.quiz-title-container input:focus{
  border: 3px var(--primary-colour) solid;
  transform: scale(1.01) perspective(1px);
  outline:none;
}
.quiz-category-container{
  padding:10px;
  width:100%;
}
.quiz-category-label{
  margin-right: 10px;
  height: 100%;
}
.quiz-category-container input{
  border: 3px var(--colour-white) solid;
  background-color: var(--colour-white);
  min-width:200px;
  width: 30%;
  border-radius: var(--border-radius);
  transition: 200ms;
  text-align: center
}
.quiz-category-container input:hover{
  border: 3px var(--colour-grey) solid;
}
.quiz-category-container input:focus{
  border: 3px var(--primary-colour) solid;
  transform: scale(1.01) perspective(1px);
  outline:none;
}
.main-toggle-container{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


/* toggles */

.domain-container{
  padding:10px;
  /* border: 1px solid white;  */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.domain-label{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.domain-picker-container{
  /* border: 1px solid white;  */
  display:flex;
  align-items: center;
  justify-content: center;
}
.toggle-label{
  margin: 0 20px;
}

.toggle-container {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 20px;
  border: 1px solid white; 
  transform: translateY(15px);
}
.display-none{
  display: none;
}

.domain-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colour-grey);
  -webkit-transition: .4s;
  transition: .4s;
}
.domain-toggle:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  filter: none;
}
input:checked + .domain-toggle {
  background-color: var(--primary-colour);
}

input:focus + .domain-toggle {
  box-shadow: 0 0 1px var(--primary-colour);
}

input:checked + span +.toggle-container .domain-toggle:before {
  -webkit-transform: translateX(20x);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.domain-picker-container input+span {
  color: var(--primary-colour);
}
.domain-picker-container input+*+*+span {
  color: var(--colour-grey);
}

/* Color labels when input is checked */
.domain-picker-container input:checked+span {
  color: var(--colour-grey);
}
.domain-picker-container input:checked+*+*+span {
  color: var(--primary-colour);
}

.type-container{
  padding:10px;
  /* border: 1px solid white;  */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.type-label{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.type-picker-container{
  /* border: 1px solid white;  */
  display:flex;
  align-items: center;
  justify-content: center;
}

.type-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colour-grey);
  -webkit-transition: .4s;
  transition: .4s;
}
.type-toggle:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  filter: none;
}
input:checked + .type-toggle {
  background-color: var(--primary-colour);
}

input:focus + .type-toggle {
  box-shadow: 0 0 1px var(--primary-colour);
}

input:checked + span +.toggle-container .type-toggle:before {
  -webkit-transform: translateX(20x);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.type-picker-container input+span {
  color: var(--primary-colour);
}
.type-picker-container input+*+*+span {
  color: var(--colour-grey);
}

/* Color labels when input is checked */
.type-picker-container input:checked+span {
  color: var(--colour-grey);
}
.type-picker-container input:checked+*+*+span {
  color: var(--primary-colour);
}


/* Private / Seasonal ID Generator */

.id-generator-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.id-generator-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.id-generator-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.id-gen-label{
  display: flex;
  align-items: center;
  justify-content: center;
}
.id-generator{
  border: 3px var(--colour-white) solid;
  background-color: var(--colour-white);
  min-width: 300px;
  width: 20%;
  border-radius: var(--border-radius);
  transition: 200ms;
  font-size: 15px;
  text-align: center;
  margin-left: 10px;
}
.copy-clipboard-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--colour-white);
  padding: 5px 7px;
  border-radius: var(--border-radius);
  margin: 0 10px;
  transition: 200ms;
}
.copy-clipboard-button:hover{
  cursor: pointer;
  background-color: var(--colour-white);
  color: var(--colour-black2)
}
.new-quizid-button{
  border: 1px solid var(--colour-white);
  padding: 0 10px;
  border-radius: var(--border-radius);
  transition: 200ms;
}
.new-quizid-button i{
  margin-right: 10px;
}
.new-quizid-button:hover{
  cursor: pointer;
  background-color: var(--colour-white);
  color: var(--colour-black2);

  /* Makes text unselectable */ 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Seasonal Quiz Section */
.quiz-family-title-container{
  padding:10px;
  width: 100%;
}
.quiz-family-title-label{
  margin-right: 10px;
  height: 100%;
}
.quiz-family-title-container input{
  border: 3px var(--colour-white) solid;
  background-color: var(--colour-white);
  min-width:300px;
  width: 40%;
  border-radius: var(--border-radius);
  transition: 200ms;
  text-align: center
}
.quiz-family-title-container input:hover{
  border: 3px var(--colour-grey) solid;
}
.quiz-family-title-container input:focus{
  border: 3px var(--primary-colour) solid;
  transform: scale(1.01) perspective(1px)
}



/* bottom section of attributes */

.date-time-container{
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  width:100px;
  height: 350px;
  border-radius: var(--border-radius);
  color: var(--colour-black);
}
.attributes-main-container{
  margin-top: 10px;
  min-width: 300px;
  width:60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.attribute-with-help{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: -10px;
  width: 0;
  height: 0;
  transform: translateX(-20px);
}
.attributes-row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
/*
COPY TEXT CSS SHENANIGANS
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }*/
@media screen and (max-width:650px){
  .main-toggle-container{
    flex-direction: column;
  }
  .id-generator-container{
    flex-direction: column;
  }
  .id-generator-main{
    flex-direction: column;
  }
  .id-generator-buttons{
    margin-top:10px;
  }
  
  
}
@media screen and (max-width:500px){
  .attributes-row{
    flex-direction: column;
  }
  .attribute-with-help{
    transform: translate(-120px,20px);
  }
}