.attribute-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    /* border: red 1px solid; */
    height:50px;
}
.select-label{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    height: 50px;
    width: 200px;
    /* border: blue 1px solid; */
    padding-right: 10px;

}
.select-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width:50px;
    /* border: yellow 1px solid; */

}
.select-input-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 15px;
    /* border: yellow 1px solid; */

}
.select-container select{
    height: 30px;
    font-size: 15px;
    border-radius: var(--border-radius);
    /* border: yellow 1px solid; */

}