.attributes {
    margin-bottom: 700px;
}

.attributes label {
    margin-bottom: 30px;
}
.quiz-title-container{
  padding: 10px;;
}
.quiz-title-label{
  margin-right: 10px;
  height: 100%;
}
.quiz-title-container input{
  border: 3px var(--colour-white) solid;
  background-color: var(--colour-white);
  min-width:200px;
  width: 50%;
  border-radius: var(--border-radius);
  transition: 200ms;
}
.quiz-title-container input:hover{
  transform: scale(1.02) perspective(1px)
}
.quiz-title-container input:focus{
  border: 3px var(--primary-colour) solid;
  transform: scale(1.02) perspective(1px)
}
.quiz-category-container{
  padding:10px;
}
.quiz-category-label{
  margin-right: 10px;
  height: 100%;
}
.quiz-category-container input{
  border: 3px var(--colour-white) solid;
  background-color: var(--colour-white);
  min-width:200px;
  width: 30%;
  border-radius: var(--border-radius);
  transition: 200ms;
}
.quiz-category-container input:hover{
  transform: scale(1.02) perspective(1px)
}
.quiz-category-container input:focus{
  border: 3px var(--primary-colour) solid;
  transform: scale(1.02) perspective(1px)
}



/* toggles */

.domain-container{
  padding:10px;
  border: 1px solid white; 
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.domain-label{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.domain-picker-container{
  border: 1px solid white; 
  display:flex;
  align-items: center;
  justify-content: center;
}
.toggle-label{
  margin: 0 20px;
}

.toggle-container {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 20px;
  border: 1px solid white; 
  transform: translateY(15px);
}
/* .toggle-container input { 
  opacity: 0;
  width: 0;
  height: 0;
} */
.display-none{
  display: none;
}

.domain-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.domain-toggle:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  filter: none;
}
input:checked + .domain-toggle {
  background-color: var(--primary-colour);
}

input:focus + .domain-toggle {
  box-shadow: 0 0 1px var(--primary-colour);
}

input:checked + span +.toggle-container .domain-toggle:before {
  -webkit-transform: translateX(20x);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.domain-picker-container input+span {
  color: var(--primary-colour);
}
.domain-picker-container input+*+*+span {
  color: var(--colour-grey);
}

/* Color labels when input is checked */
.domain-picker-container input:checked+span {
  color: var(--colour-grey);
}
.domain-picker-container input:checked+*+*+span {
  color: var(--primary-colour);
}

/*
COPY TEXT CSS SHENANIGANS
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }*/