.attribute-container{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    /* border: red 1px solid; */
    height:fit-content;
}
.select-label{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    max-width: 200px;
    font-size: 14px;
    /* border: blue 1px solid; */
    padding-right: 10px;

}
.select-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    min-width: 50px;
    /* border: yellow 1px solid; */

}
.select-input-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 15px;
    /* border: yellow 1px solid; */

}
.select-container select{
    height: 25px;
    font-size: 15px;
    border: 1px var(--colour-white) solid;
    border-radius: var(--border-radius);
    /* border: yellow 1px solid; */

}
.default-value-container{
    padding: 5px;
}
.default-button{
    min-width: 120px;
    border-radius: var(--border-radius);
    color: var(--colour-white);
    background-color: transparent;
    border: 2px var(--colour-white) solid;
    transition: 100ms;
}
.default-button:hover{
    color: var(--colour-black);
    background-color: var(--colour-white);
}