
.creator {
    color: white;
    font-family: var(--font);
}

.creator h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.creator #show {
    margin-bottom: 20px;
    background-color: navajowhite;
}
.creator #show span {
    background-color: olivedrab;
}
.creator-heading{
    padding: 10px;
}
.creator-heading h1{
    color: var(--primary-colour);
}
.input-uniqueid-container{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: max-content;
    margin-bottom: 30px;
}
.uniqueid-label{
    margin-right: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.uniqueid-input{
    border: 3px var(--colour-white) solid;
    background-color: var(--colour-white);
    width:200px;
    border-radius: var(--border-radius);
    transition: 200ms;
}
.uniqueid-input:hover{    
    transform: scale(1.02) perspective(1px)
}
.uniqueid-input:focus{
    border: 3px var(--primary-colour) solid;
    transform: scale(1.02) perspective(1px)
}
.main-form{
    width: 100%;
    background-color: var(--colour-black2);
}

@media screen and (max-width:400px){
    .input-uniqueid-container{
        flex-direction: column;
    }
}