.slide-editor .editor {
    margin: 10px;
    background-color: lightsteelblue;
    height: 500px;
}

.slide-editor .editor textarea {
    margin: 10px;
    resize: none;
 }

 .slide-editor .editor #image-preview{
    width: 300px;
    min-height: 100px;
    border: 2px solid lightgray;
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
 }