.editor {
    background-color: var(--colour-black2);
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    /* border: hotpink 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.editor-body textarea {
    resize: none;
    min-width: 300px;
    width: 60%;
    min-height: 50px;
    height: 10%;
    overflow-y: auto;
    text-align: center;
    padding: 5px;
    border-radius: var(--border-radius);
    border: var(--colour-white) 3px solid;
    transition: 300ms;
}
.editor-body textarea:hover{
    border: var(--colour-grey) 3px solid;
}
.editor-body textarea:focus{
    border: var(--secondary-colour) 3px solid;
    transform: scale(1.01) perspective(1px);
    outline: none;
}
.editor-main{
    width: 100%;
}
.qnumber-header{
    padding: 5px;
    font-size: 30px;
    font-weight: bolder;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.editor-body{
    min-height: fit-content;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .image-preview{
    max-height: 250px;
    max-width:250px;
    /* border: 2px solid lightgray; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
 }
 .image-preview img{
     max-width: 100%;
     max-height: 100%;
 }
 .image-preview-label{
     margin-top: 5px;
 }

.top-bar{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width:100%;
    min-height: fit-content;
    height: fit-content;
    background-color: var(--secondary-colour);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    /* border: springgreen 1px solid; */
}
.top-bar-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width:100%;
    min-height: fit-content;
    height: 80px;
    background-color: var(--secondary-colour);

}
.top-bar-dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: max-content;
    height: fit-content;
    right: 10px;
    /* border: springgreen 1px solid; */
    width: fit-content;
    padding: 10px 20px;
    
}
.advanced-settings{
    position:absolute;
    transform: translate(-30%,70%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: max-content;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: var(--colour-grey);
    /* border: springgreen 1px solid; */
    border-radius: var(--border-radius);
}
.advanced-settings-toggle{
    color: var(--colour-white);
    background-color: transparent;
    border: none;
    transition: 200ms;
}
.advanced-settings-toggle:hover{
    text-decoration: underline;
}

.editor-main{
    min-height: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.answers-label{
    display: flex;
    margin-top: 5px;
}
.medium-input{
    min-width: 300px;
    width: 50%;
    min-height: 40px;
    height: 5%;
    overflow-y: auto;
    text-align: center;
    padding: 5px;
    border-radius: var(--border-radius);
    border: var(--colour-white) 3px solid;
    transition: 300ms;
}
.medium-input:hover{
    border: var(--colour-grey) 3px solid;
}
.medium-input:focus{
    border: var(--secondary-colour) 3px solid;
    transform: scale(1.01) perspective(1px);
    outline: none;
}
.checkbox-answer-casesen{
    padding: 10px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.checkbox-answer-casesen-label{
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox-answer-casesen input{
    opacity:0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}
.image-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    height: 100px;
    bottom: 0;
    width:100%;
    max-width:100%;
    background-color: var(--secondary-colour);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    /* border: springgreen 1px solid; */
}
.image-toolbar-label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 500;   
}
.upload-file-input{
    margin: 5px 5px 0 5px;
    min-width: 120px;
    border-radius: var(--border-radius);
    color: var(--colour-white);
    background-color: transparent;
    border: 2px var(--colour-white) solid;
    transition: 100ms;
}
.url-paste-input{
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border: var(--colour-white) 2px solid;
    transition: 300ms;
}
.url-paste-input:hover{
    border: var(--colour-grey) 2px solid;
}
.url-paste-input:focus{
    border: var(--colour-white) 2px solid;
    transform: scale(1.01) perspective(1px);
    outline: none;
}
.url-paste-button{
    min-width: 120px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color: var(--colour-white);
    background-color: transparent;
    border: 2px var(--colour-white) solid;
    transition: 100ms;
}
.url-paste-button:hover{
    color: var(--colour-black);
    background-color: var(--colour-white);
}
.remove-file-button{
    margin-top: 5px;
    min-width: 120px;
    border-radius: var(--border-radius);
    color: var(--colour-white);
    background-color: transparent;
    border: 2px var(--colour-white) solid;
    transition: 100ms;
    margin-right: 10px;
}
.url-paste-container{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.remove-file-button:hover{
    color: var(--colour-black);
    background-color: var(--colour-white);
}

 @media screen and (max-width:800px){
    .image-toolbar{
        flex-direction: column;
        height: fit-content;
    }
    .top-bar{
        height: fit-content;
    }
    .top-bar-top{
        flex-direction: column;
        height: fit-content;
    }
    .advanced-settings{
        transform: translate(0,60%);
    }
    .qnumber-header{
        font-size: max(4vw,20px);
    }
    .image-preview{
        max-height: 150px;
        max-width: 150px;
    }
 }
 