.slide-editor{
    width:100%;
    border-top: 20px solid var(--colour-black);
    border-bottom: 20px solid var(--colour-black);
    /* border: 1px red solid; */
    position: relative;
}
.main-slideEditor-container{
    width:100%;
    /* border: 1px white solid; */
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    max-height:80vh;
}
.left-SE-container{
    min-width:350px;
    width: 30%;
    height:100%;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right: 5px var(--colour-grey) solid;
}
.right-SE-container{
    width: 70%;
    height:100%;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

@media screen and (max-width:1050px){
    .main-slideEditor-container{
        flex-direction: column;
    }
    .left-SE-container{
        width: 100%;
        min-height:20%;
        overflow-x: auto;
        border-right:0;
        border-bottom:5px var(--colour-grey) solid;
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--border-radius);
    }
    .right-SE-container{
        width: 100%;
        min-height: 80%;
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--border-radius);
    }
}