
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 500px 500px; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: 500px 500px; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: 500px 500px; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: 500px 500px; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: 500px 500px; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: 500px 500px; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: 500px 500px; }
}
@keyframes         bg-scrolling {
  0% { background-position: 500px 500px; }
}

.infinte-qms{
  min-height:100%;
  min-width:100%;
  z-index: 1000000;

  background: url("../../assets/images/loopQM.png") repeat 0 0;

  -webkit-animation: bg-scrolling-reverse 10s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse 10s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse 10s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse 10s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
}

.bg-color{
  position: fixed;
  z-index: 1000000;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  min-height:100%;
  min-width:100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 20s ease infinite;
}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}