.dropMenu{
    width:200px;
    height:max-content;
    background-color: var(--nav-bg);
    position:fixed;
    top:var(--nav-height);
    border-radius: var(--border-radius);
    padding: 10px;
    margin-right: 10px;
    right: 0;
    overflow: hidden;
    z-index: 9999;

    /* Makes text unselectable */ 
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.menuItem{
    height: 40px;
    display:flex;
    align-items: center;
    border-radius: 5px;
    transition: 100ms;
    padding:5px;
    font-size: 15px;
    float: left;
    width:100%;
    color: var(--font-colour);
}
.menuItem:hover{
    background-color: rgb(66, 66, 66);
}
