.dropMenu{
    max-width:300px;
    height:max-content;
    background-color: var(--nav-bg);
    position:fixed;
    top: calc( -8px + var(--nav-height));
    border-radius: var(--border-radius);
    margin-right: 10px;
    right: 0;
    overflow: hidden;
    z-index: 200000;
    border: var(--colour-grey) 3px solid;

    /* Makes text unselectable */ 
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.menu-item{
    height: 50px;
    display:flex;
    align-items: center;
    transition: 100ms;
    padding:10px;
    font-size: 16px;
    float: left;
    width:100%;
    color: var(--font-colour);
}
.menu-item:hover{
    background-color: rgb(66, 66, 66);
}
.item-text{
    margin-right: 10px;
}
.dropdown-icon{
    margin-left:10px;
    margin-right: 20px;
    font-size: 20px;
}
/* toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 14px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle {
    background-color: #2196F3;
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .toggle.round {
    border-radius: 6px;
  }
  
  .toggle.round:before {
    border-radius: 50%;
  }