.leaderboard {
        
}

.leaderboard .coloured {
    background-color: gold;
}

.leaderboard .not-participated {
    background-color: blue;
}

/* Leaderboard Table */

table{
    border: aqua 1px solid;
    width: 100%;
    height: 56.25%;
}

th{
    border: 1px solid white;
}
td{
    border: 1px solid white;

}