.navbar{
    height: var(--nav-height);
}
.navbar-container{
    position:fixed;
    left:0;
    top:0;
    background-color: var(--nav-bg);
    height: var(--nav-height);
    color: var(--font-colour);
    border-bottom: var(--colour-grey) 2px solid;
    z-index: 10000;

    /* Makes text unselectable */ 
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    width: 100%;
    height: var(--nav-height);
    display: inline-flex;
    align-items: center;
    padding-right: 20px;
}
.navbar-header{
    margin-left: 20px;
    height:100%;
    width:70%;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-size: calc(var(--nav-height)*0.5);
    /* border: red 1px solid; */
    
}
.nav-logo{
    float: left;
    margin-right:10px;
    width: calc(var(--nav-height)*0.5);
    height:  calc(var(--nav-height)*0.5);
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(8px);
}
.nav-logo img{
    width:100%;
    height:100%;
}
.title{
    float: left;
    color: var(--colour-white);
    font-weight: bold;
}
.navbar-icons{
    width:30%;
    height:100%;
    display:inline-flex;
    justify-content: flex-end;
    align-items: center;

}
.nav-item{
    padding-left: 5px;
    padding-right: 5px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-size: calc(var(--nav-height)*0.5);
    text-align: center;
    /* border: red 1px solid; */
}
.nav-item:hover{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.round-wrapper{
    width: calc(var(--nav-height)*0.5);
    height:  calc(var(--nav-height)*0.5);
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: grey;
}
.cog{
    /* border:red 1px solid; */
    transition: 500ms;
}
.cog:hover{
    transform: rotate(60deg);
    /* border:red 1px solid; */
}
.functionals{
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .title{
        visibility: hidden;
        width:0px;
    }
}